@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #09090a;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.barra-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #09090a;
    display: flex;
    padding: 30px 20px;
    height: 100px;
  }

.carrinho{
    margin-left: 700px;
}

.usuario{
    margin-left: 35px;
}
  
  .logo {
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .usuario {
    display: flex;
    align-items: center;
  }
  
  .usuario img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .usuario span {
    font-weight: bold;
    color: white;
  }
  
  .carrinho img {
    width: 30px;
    height: 30px;
  }
  
  .barra-menu nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .barra-menu nav ul li {
    display: inline-block;
  }
  .barra-menu .logo h1{
    color: #45F3FF;
    font-size: 22px;
  }
  
  .barra-menu nav ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
  }

  .barra-menu-secundaria {
    position: fixed;
    height: 50px;
    margin-top: 100px;
    width: 100%;
    padding: 10px 141px;
    background: #09090a;
    display: flex;
  }
  
  .barra-menu-secundaria ul {
    display: flex;
    gap: 123px;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  
  .barra-menu-secundaria li {
    margin-right: 10px;
  }
  
  .barra-menu-secundaria a {
    text-decoration: none;
    color: #fff;
  }
  
  .barra-menu-secundaria .ativo {
    font-weight: bold;
  }

  .main{
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .main .itens{
    width: 323px;
    height: 470px;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    gap: 20px;
    background: #0E0E0F;
  }

.itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.itens img{
    width: 253px;
    height: 286px;
    border-radius: 10px;
    }
.itens a{
    font-size: 18px;
    height: 70px ;
    max-width: 273px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.itens a:hover{
    text-decoration:underline;
    color: #45F3FF;
}

.price{
    display: flex;
    gap: 4px;
    color: #fff;
    font-size: 20px;
    align-items: center;

}

.price p{
    color: #45F3FF;
    font-weight: bolder;
    font-size: 24px;
}

.mudaCor{
  color: #45F3FF;
  font-weight: bolder;
}